.gradient-text {
  background: linear-gradient(to right, #ce89ca, #5885bf, #7258df, #75eea3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}

.bg-gradient {
  background: linear-gradient(to right, #ce89ca, #5885BF, #7258DF, #75eea3);
}

.bg-gradient-br {
  background: linear-gradient(to bottom right, #e28ede, #5c8fd3, #7255e7, #61f199);
}